#registers {
    max-width: 20em;
}

#popups {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#popups .input-group {
    margin-top: 1em;
}

#popups .popup {

}
